[core]
	editor = code --wait
	autocrlf = true
[user]
	name = Partha P. Das
	email = parthopdas@live.com
	signingkey = 252EA55235C3FCD7
[diff]
	tool = vscode
	guitool = vscode
[merge]
	tool = vscode
	guitool = vscode
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[difftool "vscode"]
	cmd = \"code\" --wait --diff \"$LOCAL\" \"$REMOTE\"
[mergetool "vscode"]
	cmd = "\"code\" --wait \"$MERGED\" "
[credential]
	helper = cache
	helper =
	helper = D:/bin/gcm/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	gpgsign = true
[gpg]
	program = C:\\Users\\partho\\scoop\\apps\\gpg\\current\\bin\\gpg.exe
