[core]
	editor = code --wait
	autocrlf = false
[user]
	name = Partha P. Das
	email = parthopdas@live.com
[diff]
	tool = vscode
	guitool = vscode
[merge]
	tool = vscode
	guitool = vscode
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[difftool "vscode"]
	cmd = \"code\" --wait --diff \"$LOCAL\" \"$REMOTE\"
[mergetool "vscode"]
	cmd = "\"code\" --wait \"$MERGED\" "
[credential]
	helper = cache
	helper =
	helper = D:/bin/gcm/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
